<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments.html :: head}"></th:block>
        <title>The Black Page</title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>User Profile</h1>
                <p>User: <span sec:authentication="principal.username"></span></p>
                <p>Roles: <span sec:authentication="principal.authorities"></span></p>
            </section>
        </div>
    </body>
</html>