:root {
    --container-width: 64rem;
    --main-bg-color: #222;
    --main-border-color: #efefef;
    --main-font-color: #efefef;
    --field-bg-color: #585858;
    --field-border-color: #efefef;
    --field-font-color: #fff;
    --btn-bg-color: #373737;
    --btn-bg-color-hover: #636363;
    --btn-border-color: #efefef;
    --btn-font-color: #fff;
    --btn-disabled-bg-color: #575757;
    --btn-disabled-font-color: #9d9d9d;
    --panel-bg-color: #2e2e2e;
    --color-danger: #be2308;
    --color-danger-hover: #ef4a2d;
    --color-confirm: #09884f;
    --color-confirm-hover: #22d585;
    --color-action: #4b6dbb;
    --color-action-hover: #7da3fc;
    --table-bg-color-title: #585858;
    --table-bg-color-odd: #2a2a2a;
    --table-bg-color-even: #353535;
    --grid-vertical-gap: 0.4rem;
    --grid-horizontal-gap: 0.8rem;
    --fast: 0.5s;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

section {
    margin-bottom: 0.5rem;
    padding: 0 2rem;
}

input:not([data-no-btn]),
textarea,
select,
a.btn,
button,
.panel {
    display: inline-block;
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.3rem 0.7rem 0.5rem 0.7rem;
}

input:not([data-no-btn]),
textarea {
    background-color: var(--field-bg-color);
    border: 1px solid var(--field-border-color);
    color: var(--field-font-color);
}

input[type="button"],
input[type="submit"]:not([data-no-btn]),
a.btn,
select,
button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-font-color);
    transition: background-color var(--fast);
}

input[type="button"],
a.btn,
select,
button {
    background-color: var(--btn-bg-color);
}

*:disabled {
    background-color: var(--btn-disabled-bg-color);
    background-color: var(--btn-disabled-font-color);
}

input[type="button"]:hover,
a.btn:hover,
select:hover,
button:hover {
    background-color: var(--btn-bg-color);
}

input[data-no-btn] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0.3rem 0.7rem 0.5rem 0.7rem;
    background-color: transparent;
    border: none;
    color: var(--color-action);
    transition: color var(--fast);
}

a {
    text-decoration: none;
    color: var(--color-action);
    transition: color var(--fast);
}

input[data-no-btn]:hover,
a:not(.btn):hover {
    color: var(--color-action-hover);
}

a.btn {
    text-align: center;
    text-decoration: none;
}

nav {
    margin: 0.5rem 0 2.5rem 0;
}

nav ul li {
    position: relative;
    text-indent: 0;
    padding-left: 0;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    line-height: 1.8rem;
    width: 100%;
    height: 2.1rem;
}

nav ul li form::after,
nav ul li a::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: calc( 100% - 4rem );
    height: 2px;
    background-color: var(--color-action);
    transition: background-color var(--fast), width var(--fast), left var(--fast);
}

nav ul li form:hover::after,
nav ul li a:hover::after {
    left: 1rem;
    width: calc( 100% - 2rem );
    background-color: var(--color-action-hover);
}

nav ul li form,
nav ul li form input {
    height: 2.1rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin: -0.125rem 0.5rem 0 0;
    padding: 0;
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

span.number-group {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
}

span.number-group input[type="number"] {
    border-radius: 0;
}

span.number-group > .less,
span.number-group > .more {
    width: 1.5rem;
    text-align: center;
    padding: 0;
}

span.number-group > .less {
    content: '-';
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

span.number-group > .more {
    content: '+';
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form div.field-group {
    margin: 0 0 0.8rem 0;
    display: grid;
    grid-template-columns: 8rem 1fr;
}

form label {
    line-height: 1.8rem;
    margin-right: 0.5rem;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:not(nav ul li):before {
    content: "›";
    padding-right: 0.4rem;
}

p {
    max-width: 34rem;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0 0.8rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 2rem 0 0.4rem 0;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
div.field-group {
    column-gap: var(--grid-horizontal-gap);
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.col-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.col-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.colspan-2 {
    grid-column: span 2;
}

.colspan-3 {
    grid-column: span 3;
}

.colspan-4 {
    grid-column: span 4;
}

.colspan-5 {
    grid-column: span 5;
}

.colspan-6 {
    grid-column: span 6;
}

.colspan-7 {
    grid-column: span 7;
}

.page-container {
    max-width: var(--container-width);
    min-height: 100vh;
    padding: 0.3rem 0 0.5rem 0;
    margin: 0 auto;
    border: 1px solid var(--main-border-color);
    border-top: none;
    border-bottom: none;
}

.error {
    color: var(--color-danger);
    font-family: 'Menlo', 'Monaco', monospace;
}

.panel {
    background-color: var(--panel-bg-color);
    border: 1px solid var(--main-border-color);
}

.center-panel {
    max-width: 32rem;
    margin: 8rem auto;
    padding: 1rem 1.5rem 0.4rem 1.5rem;
    border: 1px solid var(--main-border-color);
    border-radius: 0.3rem;
    background-color: var(--panel-bg-color);
}

a.btn.danger,
.danger {
    background-color: var(--color-danger);
}

a.btn.danger:hover,
.danger:hover {
    background-color: var(--color-danger-hover);
}

a.btn.action,
.action {
    background-color: var(--color-action);
}

a.btn.action:hover,
.action:hover {
    background-color: var(--color-action-hover);
}

a.btn.confirm,
input[type="submit"]:not(input[data-no-btn]),
.confirm {
    background-color: var(--color-confirm);
}

a.btn.confirm:hover,
input[type="submit"]:not(input[data-no-btn]):hover,
.confirm:hover {
    background-color: var(--color-confirm-hover);
}

.no-margin,
.no-margin * {
    margin: 0;
}

.id-grid-4,
.id-grid-5,
.id-grid-6 {
    display: grid;
}

.id-grid-4 {
    grid-template-columns: 5rem 2fr 1fr 1fr;
}

.id-grid-5 {
    grid-template-columns: 5rem 2fr 1fr 1fr 1fr;
}

.id-grid-6 {
    grid-template-columns: 5rem 1fr 1fr 1fr 1fr 1fr;
}

.table p,
.table-header p {
    margin: 0;
    padding: 0.4rem 0.8rem 0.6rem 0.8rem;
    border-right: 1px solid var(--main-bg-color);
}

.title {
    background-color: var(--field-bg-color);
}

.table {
    background-color: var(--table-bg-color-odd);
}

.table > div:nth-child(2n) {
  background-color: var(--table-bg-color-even);
}

.table > div > :last-child,
.table-header > div > :last-child {
    border-right: none;
}