:root {
    --container-width: 64rem;
    --main-bg-color: #222;
    --main-border-color: #efefef;
    --main-font-color: #efefef;
    --field-bg-color: #585858;
    --field-border-color: #efefef;
    --field-font-color: #fff;
    --btn-bg-color: #373737;
    --btn-bg-color-hover: #636363;
    --btn-border-color: #efefef;
    --btn-font-color: #fff;
    --color-danger: #be2308;
    --color-danger-hover: #ef4a2d;
    --color-confirm: #09884f;
    --color-confirm-hover: #22d585;
    --color-action: #4b6dbb;
    --color-action-hover: #7da3fc;
    --table-bg-color-title: #585858;
    --table-bg-color-odd: #2a2a2a;
    --table-bg-color-even: #353535;
    --grid-vertical-gap: 0.4rem;
    --grid-horizontal-gap: 0.8rem;
    --fast: 0.5s;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

section {
    margin-bottom: 0.5rem;
}

input,
textarea,
select,
a.btn,
nav ul li a,
button {
    display: inline-block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.3rem 0.7rem 0.5rem 0.7rem;
    text-decoration: none;
}

input,
textarea {
    background-color: var(--field-bg-color);
    border: 1px solid var(--field-border-color);
    color: var(--field-font-color);
}

input[type="button"],
input[type="submit"],
a.btn,
select,
nav ul li a,
button {
    cursor: pointer;
    border: 1px solid var(--btn-border-color);
    color: var(--btn-font-color);
    transition: background-color var(--fast);
}

input[type="button"],
a.btn,
select,
button {
    background-color: var(--btn-bg-color);
}

input[type="button"]:hover,
a.btn:hover,
select:hover,
button:hover {
    background-color: var(--btn-bg-color);
}

a.btn {
    text-align: center;
    text-decoration: none;
}

nav ul li {
    padding-left: 0;
    text-align: center;
}

nav ul li:before {
    content: '';
}

input[type="radio"],
input[type="checkbox"] {
    margin: -0.125rem 0.5rem 0 0;
    padding: 0;
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

span.number-group {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
}

span.number-group input[type="number"] {
    border-radius: 0;
}

span.number-group > .less,
span.number-group > .more {
    width: 1.5rem;
    text-align: center;
    padding: 0;
}

span.number-group > .less {
    content: '-';
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

span.number-group > .more {
    content: '+';
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form > div.field-group {
    margin: 0 0 0.8rem 0;
    display: grid;
    grid-template-columns: 8rem 1fr;
}

form label {
    line-height: 1.8rem;
    margin-right: 0.5rem;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "›";
    padding-right: 0.4rem;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
div.field-group {
    column-gap: var(--grid-horizontal-gap);
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.col-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.col-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.page-container {
    max-width: var(--container-width);
    min-height: 100vh;
    padding: 0.3rem 1.4rem 0.5rem 1.4rem;
    margin: 0 auto;
    border: 1px solid var(--main-border-color);
    border-top: none;
    border-bottom: none;
}

.error {
    color: var(--color-danger);
    font-family: 'Menlo', 'Monaco', monospace;
}

a.btn.danger,
.danger {
    background-color: var(--color-danger);
}

a.btn.danger:hover,
.danger:hover {
    background-color: var(--color-danger-hover);
}

a.btn.action,
.action {
    background-color: var(--color-action);
}

a.btn.action:hover,
.action:hover {
    background-color: var(--color-action-hover);
}

a.btn.confirm,
input[type="submit"],
.confirm {
    background-color: var(--color-confirm);
}

a.btn.confirm:hover,
input[type="submit"]:hover,
.confirm:hover {
    background-color: var(--color-confirm-hover);
}

.id-grid-4,
.id-grid-5 {
    display: grid;
}

.id-grid-4 {
    grid-template-columns: 5rem 2fr 1fr 1fr;
}

.id-grid-5 {
    grid-template-columns: 5rem 2fr 1fr 1fr 1fr;
}

.table p,
.table-header p {
    margin: 0;
    padding: 0.4rem 0.8rem 0.6rem 0.8rem;
    border-right: 1px solid var(--main-bg-color);
}

.title {
    background-color: var(--field-bg-color);
}

.table {
    background-color: var(--table-bg-color-odd);
}

.table > div:nth-child(2n) {
  background-color: var(--table-bg-color-even);
}
.table > div > :last-child,
.table-header > div > :last-child {
    border-right: none;
}