<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>Add Or Update Contract</h1>
                <form action="#" th:action="@{/workcontracts/save}" th:object="${contractDTO}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="field-group">
                        <label>Person: </label>
                        <div>
                            <select th:field="*{personId}">
                                <option th:each="person : ${contractDTO.people}" 
                                    th:value="${person.getId()}" 
                                    th:text="${person.getFullName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('personId')}" class="field-group">
                        <span></span>
                        <span th:errors="*{personId}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <label>Company: </label>
                        <div>
                            <select th:field="*{companyId}">
                                <option th:each="company : ${contractDTO.companies}" 
                                    th:value="${company.getId()}" 
                                    th:text="${company.getCompanyName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('companyId')}" class="field-group">
                        <span></span>
                        <span th:errors="*{companyId}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <label>Job-Title: </label>
                        <input type="text" th:field="*{title}" placeholder="title" />
                    </div>
                    <div th:if="${#fields.hasErrors('title')}" class="field-group">
                        <span></span>
                        <span th:errors="*{title}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <label>Salary: </label>
                        <span class="number-group">
                            <input type="number" th:field="*{salary}" placeholder="salary" />
                        </span>
                    </div>
                    <div th:if="${#fields.hasErrors('salary')}" class="field-group">
                        <span></span>
                        <span th:errors="*{salary}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <label>Workload: </label>
                        <span class="number-group">
                            <input type="number" th:field="*{contractWorkload}" placeholder="workload" />
                        </span>
                    </div>
                    <div th:if="${#fields.hasErrors('contractWorkload')}" class="field-group">
                        <span></span>
                        <span th:errors="*{contractWorkload}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/workcontracts/list}"> back</a>
                        <input class="confirm" type="submit" value="save" />
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>