<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>Contract Manager</h1>
                <div class="table-header">
                    <div class="id-grid-7 title">
                        <p>ID</p>
                        <p>Person</p>
                        <p>Title</p>
                        <p>Company</p>
                        <p>Salary</p>
                        <p>Workload</p>
                        <p>Action</p>
                    </div>
                </div>
                <div class="table">
                    <div class="id-grid-7" th:each="entry : ${entries}">
                        <p th:text="${entry.getId()}"></p>
                        <p th:text="${entry.getPerson().getFullName()}"></p>
                        <p th:text="${entry.getTitle()}"></p>
                        <p th:text="${entry.getCompany().getCompanyName()}"></p>
                        <p th:text="${entry.getSalary()}"></p>
                        <p th:text="${entry.getContractWorkload()}"></p>
                        <p class="col-2">
                            <a class="btn action" th:href="@{/workcontracts/form(contractId=${entry.id})}">update</a>
                            <a class="btn danger" th:href="@{/workcontracts/delete(contractId=${entry.id})}"
                                onclick="if (!confirm('Are you sure about that?')) return false">
                                delete
                            </a>
                        </p>
                    </div>
                    <div class="id-grid-7">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <p>
                            <a class="btn confirm" th:href="@{/workcontracts/form}">add</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>