<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{fragments.html :: head}"></th:block>
        <title>The Black Page</title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <div class="center-panel">
                    <h3>Sign Up</h3>
                    <form action="#" th:action="@{/processSignup}" th:object="${user}" method="POST">
                        <div class="field-group">
                            <label for="name">User: </label>
                            <input type="text" name="name" th:field="*{name}" placeholder="name" />
                        </div>
                        <div class="field-group error" th:if="${#fields.hasErrors('name')}">
                            <span></span>
                            <ul class="no-margin">
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" ></li>
                            </ul>
                        </div>
                        <div class="field-group">
                            <label for="email">E-Mail: </label>
                            <input type="text" name="email" th:field="*{email}" placeholder="email" />
                        </div>
                        <div class="field-group error" th:if="${#fields.hasErrors('email')}">
                            <span></span>
                            <ul class="no-margin">
                                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" ></li>
                            </ul>
                        </div>
                        <div class="field-group">
                            <label for="password">Password: </label>
                            <input type="password" name="password" th:field="*{password}" />
                        </div>
                        <div class="field-group error" th:if="${#fields.hasErrors('password')}">
                            <span></span>
                            <ul class="no-margin">
                                <li th:each="err : ${#fields.errors('password')}" th:text="${err}" ></li>
                            </ul>
                        </div>
                        <div class="field-group">
                            <span></span>
                            <span class="col-2">
                                <input type="submit" value="signup" />
                            </span>
                        </div>
                        <div class="field-group error">
                            <span></span>
                            <span th:if="${duplicateError != null}" th:text="${duplicateError}"></span>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>