<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <h1>Add Or Update Company</h1>
            <section>
                <form action="#" th:action="@{/companies/save}" th:object="${entry}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="field-group">
                        <label>Company Name: </label>
                        <input type="text" th:field="*{companyName}" placeholder="company name" />
                    </div>
                    <div th:if="${#fields.hasErrors('companyName')}" class="field-group">
                        <span></span>
                        <span th:errors="*{companyName}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <label>Company E-Mail: </label>
                        <input type="text" th:field="*{contactEmail}" placeholder="E-Mail" />
                    </div>
                    <div th:if="${#fields.hasErrors('contactEmail')}" class="field-group">
                        <span></span>
                        <span th:errors="*{contactEmail}" class="error"></span>
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/workcontracts/list}"> back</a>
                        <input class="confirm" type="submit" value="save" />
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>