<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>Access Denied</h1>
                <p>I don't know who you are, I don't know what you want. 
                    If you are looking for ransom, I can tell you, I have no money. 
                    But what I do have is a very particular set of skills. 
                    A set of skills I have acquired over a very long career.
                    A set of skills that make me a nightmare for people like you. 
                    If you stop trying to access information that is not meant for you, 
                    that will be the end of it. I will not look for you, I will not persue you.
                    But if you don't, I will look for you, I will find you 
                    and I will politely ask you to stop this none sense.</p>
            </section>
        </div>
    </body>
</html>