<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>The Black Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script type="module" th:src="@{/js/loader.js}"></script>
</head>

<body>
    <nav th:fragment="navigation">
        <ul class="col-7">
            <li><a th:href="@{/}">Main</a></li>
            <li><a th:href="@{/people/list}">People</a></li>
            <li>
                <a th:href="@{/companies/list}"
                    sec:authorize="hasAuthority('POWER')"
                >Companies</a>
            </li>
            <li>
                <a th:href="@{/workcontracts/list}"
                    sec:authorize="hasAuthority('ADMIN')"
                >Contracts</a>
            </li>
            <li></li>
            <li><a th:href="@{/user/profile}"
                    sec:authorize="isAuthenticated()"
                >User</a></li>
            <li>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" data-no-btn />
                </form>
            </li>
        </ul>
    </nav>
</body>

</html>