<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <h1>The Black Page</h1>
            <p>Welcome to the black page. This page is created after a tutorial of the famous Chad the Tutor. Every responsibility is denied. If you ever even think about using the function of this homepage for anything you are really daring and will be punished by death.</p>
        </div>
    </body>
</html>