<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments.html :: head}"></th:block>
        <title>The Black Page</title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>The Black Page</h1>
                <p>Welcome to the black page. This page is based on a tutorial by the famous Chad the Tutor. Every responsibility is denied. Using this code in production is not recommended for several security reasons.</p>
                <p>Please consider that this entire code base only serves as a look up for spring boot api, spring security and thymeleaf.</p>
                <h2>This Page provides</h2>
                <ul>
                    <li>Demo code for spring security</li>
                    <li>Demo code for thymeleaf pages</li>
                    <li>Demo code for a spring boot api</li>
                </ul>
            </section>
        </div>
    </body>
</html>