<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Black Page</title>
        <th:block th:include="fragments.html :: head"></th:block>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>The Black Page</h1>
                <p>Welcome to the black page. This page is created after a tutorial of the famous Chad the Tutor. Every responsibility is denied. If you ever even think about using the function of this homepage for anything you are really daring and will be punished by death.</p>
                <p>If you have the guts to use this Mr. Black is actually impressed though.</p>
                <h2>This Page provides</h2>
                <ul>
                    <li>Demo code for spring security</li>
                    <li>Demo code for thymeleaf pages</li>
                    <li>Demo code for a spring boot api</li>
                </ul>
            </section>
        </div>
    </body>
</html>