<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments.html :: head}"></th:block>
        <title>The Black Page</title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <form action="#" th:action="@{/people/find}" method="GET">
                    <input type="hidden" th:name="action" value="secretId" />
                    <h1>Find Person by Secret Idenity</h1>
                    <p>Try to search for 'Bat Man'.</p>
                    <div class="field-group">
                        <label for="search">Secret Name: </label>
                        <input type="text" name="search" th:name="search" placeholder="secret name" />
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}">back</a>
                        <span class="col-5">
                            <input class="confirm" type="submit" value="find" />
                        </span>
                    </div>
                </form>
                <form action="#" th:action="@{/people/find}" method="GET">
                    <input type="hidden" th:name="action" value="pets" />
                    <h1>Find Pets Of Person</h1>
                    <p>Try to search for 'Nathaly Gardener'.</p>
                    <div class="field-group">
                        <label for="search">Owner Name: </label>
                        <input type="text" name="search" th:name="search" placeholder="owner" />
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}">back</a>
                        <span class="col-5">
                            <input class="confirm" type="submit" value="find" />
                        </span>
                    </div>
                </form>
                <form action="#" th:action="@{/people/find}" method="GET">
                    <input type="hidden" th:name="action" value="articles" />
                    <h1>Find Articles Of Author</h1>
                    <p>Try to search for 'Alan Newman'.</p>
                    <div class="field-group">
                        <label for="search">Author: </label>
                        <input type="text" name="search" th:name="search" placeholder="author" />
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}">back</a>
                        <span class="col-5">
                            <input class="confirm" type="submit" value="find" />
                        </span>
                    </div>
                    <div class="field-group">
                        <span></span>
                        <div>
                            <p th:each="result : ${searchResults}" th:text="${result.toString()}"></p>
                        </div>
                    </div>
                </form>
        </section>
        </div>
    </body>
</html>