<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html :: head}">
        <title></title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <form action="#" th:action="@{/people/find}" method="GET">
                    <input type="hidden" th:name="action" value="secretId" />
                    <h1>Find Person by Secret Idenity</h1>
                    <div class="field-group">
                        <label>Secret Name: </label>
                        <input type="text" th:name="search" placeholder="secret name" />
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}">back</a>
                        <span class="col-5">
                            <input class="confirm" type="submit" value="find" />
                        </span>
                    </div>
                </form>
                <form action="#" th:action="@{/people/find}" method="GET">
                    <input type="hidden" th:name="action" value="pets" />
                    <h1>Find Pets Of Person</h1>
                    <div class="field-group">
                        <label>Person Name: </label>
                        <input type="text" th:name="search" placeholder="secret name" />
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}">back</a>
                        <span class="col-5">
                            <input class="confirm" type="submit" value="find" />
                        </span>
                    </div>
                    <div class="field-group">
                        <span></span>
                        <div>
                            <span th:each="result : ${searchResults}" th:text="${result.toString()}"></span>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>