<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments.html :: head}"></th:block>
        <title>The Black Page</title>
    </head>
    <body>
        <div class="page-container">
            <nav th:replace="~{fragments.html :: navigation}"></nav>
            <section>
                <h1>Add Or Update Person</h1>
                <form action="#" th:action="@{/people/save}" method="POST">
                    <div th:object="${person}">
                        <input type="hidden" th:field="*{id}" />
                        <div class="field-group">
                            <label for="email">E-Mail: </label>
                            <input type="email" name="email" th:field="*{email}" placeholder="email" />
                        </div>
                        <div th:if="${#fields.hasErrors('email')}" class="field-group">
                            <span></span>
                            <span th:errors="*{email}" class="error"></span>
                        </div>
                        <div class="field-group">
                            <label for="firstname">Firstname: </label>
                            <input type="text" name="firstname" th:field="*{firstName}" placeholder="first name" />
                        </div>
                        <div th:if="${#fields.hasErrors('firstName')}" class="field-group">
                            <span></span>
                            <span th:errors="*{firstName}" class="error"></span>
                        </div>
                        <div class="field-group">
                            <label for="lastname">Lastname: </label>
                            <input type="text" name="lastname" th:field="*{lastName}" placeholder="last name" />
                        </div>
                        <div th:if="${#fields.hasErrors('lastName')}" class="field-group">
                            <span></span>
                            <span th:errors="*{lastName}" class="error"></span>
                        </div>
                    </div>
                    <div th:object="${petsDTO}">
                        <div class="field-group">
                            <span>pets: </span>
                            <div class="col-5">
                                <span class="colspan-4"></span>
                                <button class="action" th:formaction="@{/people/addPet}">add</button>
                            </div>
                        </div>
                        <div class="field-group" th:each="title, item : *{pets}">
                            <span></span>
                            <div class="col-5">
                                <input type="hidden" th:field="*{pets[__${item.index}__].id}" />
                                <input class="colspan-2" th:field="*{pets[__${item.index}__].name}" placeholder="pet name" />
                                <input class="colspan-2" th:field="*{pets[__${item.index}__].species}" placeholder="pet species" />
                                <button class="danger" th:formaction="@{/people/deletePet(index=${item.index})}">delete</button>
                            </div>
                            <!-- this line will link the item in the petsDTO.pets list -->
                        </div>
                    </div>
                    <div th:object="${secretIdentity}">
                        <input type="hidden" th:field="*{id}" />
                        <div class="field-group">
                            <label for="secretname">Secret Identity: </label>
                            <input type="text" name="secretname" th:field="*{secretName}" placeholder="secret name" />
                        </div>
                        <div th:if="${#fields.hasErrors('secretName')}" class="field-group">
                            <span></span>
                            <span th:errors="*{secretName}" class="error"></span>
                        </div>
                    </div>
                    <div class="field-group">
                        <a class="btn action" th:href="@{/people/list}"> back</a>
                        <div class="col-5">
                            <input class="confirm" type="submit" value="save" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>